[Unit]
Description=Gunicorn daemon for TikTok Commenter
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/www/solforge
EnvironmentFile=/var/www/solforge/.env
ExecStart=/var/www/solforge/venv/bin/gunicorn \
    --access-logfile - \
    --workers 3 \
    --bind unix:/run/gunicorn.sock \
    tiktok_commenter.wsgi:application

[Install]
WantedBy=multi-user.target 